*.pro
*.user
*/*.pro
*/*.user
docs/
docs/**/*
execution/
execution/**/*
Build/*
Build/**/*
vspheroid-build/**/*
GUI/vspheroid.pro.user
GUI/vspheroid.pro
vspheroid-768-build/**/*
GUI/vspheroid-768.pro.user
GUI/vspheroid-768.pro
VBA/**/*
