*.pro
*.user
*/*.pro
*/*.user
docs/
docs/**/*
execution/
execution/**/*
Build/*
Build/**/*
vspheroid_GUI-build/**/*
vspheroid_GUI6-build/**/*
/GUI/vspheroid_GUI.pro.user
/GUI/vspheroid_GUI.pro
/GUI/vspheroid_GUI6.pro.user
/GUI/vspheroid_GUI6.pro
VBA/**/*
